// Western brand colors.
//$wwu-blue: rgb(0, 63, 135);
$wwu-blue: #003f87;  // Passes color contrast checker: http://webaim.org/resources/contrastchecker/
$wwu-light-blue: rgb(0, 131, 214);
$wwu-ocean-blue: #0070b6; // Passes color contrast checker for text on white background.
$wwu-red: rgb(204, 45, 48);
$wwu-yellow: rgb(255, 198, 30);
$wwu-lime: rgb(186, 216, 10);
$wwu-green: rgb(0, 107, 63);

// Extended brand colors.
$wwu-gray-blue: rgb(219, 52, 61);
$wwu-ocean-blue: shade($wwu-light-blue, 13);
