/*** Directory navigation ***/
$zen-column-count: 4;
$zen-gutter-width: 10px;

#sm-directory {
  .title {
    color: $wwu-blue;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;

    @include breakpoint($medium) {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

/* Sorting buttons */
#dirNav {
  @include zen-grid-container();

  .filter_link {
    text-transform: capitalize;
    text-align: center;
    color: $wwu-light-blue;
    padding: 10px 20px;
    background-color: white;
    display: block;
    transition: 0.1s;
    font-weight: bold;
    font-size: 18px;

    &:hover {
      @include breakpoint($not-small) {
        background-color: $wwu-light-blue;
        color: white;
        text-decoration: none;
      }
    }
  }
  .active {
    background-color: $wwu-light-blue;
    color: white;
  }

  //For each column, position the nav link in relation to its index
  @for $i from 1 through $zen-column-count {
    @include breakpoint($not-small) {
      .option-#{$i} {
        @include zen-grid-item(1, $i);
      }
    }
  }

  .filter_option {
    @include breakpoint($small) {
      margin-bottom: 10px;
    }
  }
  .filter_option:first-child {
    padding-left: 0px;
  }
  .filter_option:last-child {
    padding-right: 0px;
  }
}


/*** Directory list ***/
$item-padding: 10px 20px;

#sm-directory h3 {
	font-weight: bold;
  padding: $item-padding;
	width: auto;
  color: white;
  background-color: #0083d6;
  font-size: 18px;
}
.directory-content {
  margin: 15px 0;
}
.entityList ul {
	display: inline;
	list-style-type: none;
	margin-left: 0px;
  @include breakpoint(table-break) {
      display: inline;
      list-style-type: none;
      margin-left: 0px;
      position: absolute;
      left: 35%;
  }
}
.directory-content {
  color: #003f87;
}
.entityList ul li {
	display: inline;
	background: none;
	padding-left: 0px;
}
.entityItem {
  list-style-type: none;
  padding: $item-padding;
}
.entityItem:nth-child(even) {
  background-color: #fcf6e4;
}
.entityItem:nth-child(odd) {
  background-color: #fff;
}
.entityList li a img {
	height: 25px;
	width: 25px;
	position: relative;
	top: 5px;
	padding-left: 10px;
}

#end_dir_info {
	padding: 25px 0;
}
