$zen-column-count: 3;
$zen-gutter-width: 0px;

.subfooter {
  font-family: $ovo;
  margin: 15px 0;
  min-height: 35px;

  //hide end title & text until end reached
  .loading-title {
    color: #999;
    position: absolute;
    width: 200px;
    height: 30px;
    left: 0;
    right: 0;
    background-color: #E3E3E3;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    z-index: 1;
  }
  .end-title {
    @extend .loading-title;
    display: none;
    width: 170px;
  }
  .line {
    border-top: 2px dashed #AAA;
    width: 100%;
    display: block;
    float: left;
    position: relative;
    top: 10px;
    z-index: 0;
  }
  .end-text, p {
    display: none;
    color: #888;
    max-width: 450px;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
  }

  a {
      text-decoration: underline;
  }

}

.site-footer {
	padding-top: emCalc(20);
	background-color: $wwu-blue;
	font-family: $muli;
	color: white;

	a {
		color: white;
		font-weight: 300;

		&:hover, &:focus {
			text-decoration: underline;
			color: $wwu-lime;
		}
	}

	h2, h3, h4 {
		color: white;
		margin-top: 0px;
	}

	@include breakpoint($desktop) {
		min-height: emCalc(200);
		margin-top: emCalc(20);
	}

	.wrap {
		@include breakpoint($desktop) {
			$padding: emCalc(10);
			padding: 0 $padding;
			margin: 0 auto;
			max-width: emCalc(1200) + 2*$padding;
			@include zen-grid-container();
		}
	}
	.footer-left {
		margin: 0 emCalc(20);
		@include breakpoint($desktop) {
			@include zen-grid-item(1, 1);
		}
	}
	.footer-center {
		margin: 0 emCalc(20);
		@include breakpoint($desktop) {
			@include zen-grid-item(1, 2);
			section {
				margin: 0 auto;
				width: 80%;
			}
		}
    @include breakpoint($medium) {
      margin-bottom: 20px;
    }
	}
	.footer-right {
		@include breakpoint($desktop) {
			max-width: 310px;
			@include zen-grid-item(1, 1, right);
		}
	}
	.menu {
		padding: 0 0 0 30px;
    transition: 0.2s;

    @include breakpoint(max-width 950px) {
      padding: 0;
    }
    @include breakpoint(770px 950px) {
      max-width: 90%;
    }

		li {
		    border-bottom: 1px solid #fff;
		    list-style-image: none;
		    list-style-type: none;
		    font-size: 0.875em;
		    padding-top: 0.5em;
		}
		a {
			color: #fff;
		    text-decoration: none;
		    padding-left: 0.15em;
        transition: 0.05s;
		    text-transform: capitalize;

		    &:hover {
		    	color: $wwu-lime;
		    }
		}
	}
  .amcl {
    text-transform: uppercase;
    max-width: 200px;
    font-size: 18px;
    border-top: 1px solid $wwu-light-blue;
    border-bottom: 1px solid $wwu-light-blue;
    padding: 10px 0;
    margin: 10px auto;
  }
	.disclaimer {
		font-size: 0.875em;
		font-style: italic;
	}
}

.western-card {
	@include breakpoint($desktop) {
		@include background-image(linear-gradient(#3a5a8f,#003f87));
		margin: 0;
		position: relative;
		@include transform(translateY(-30px));
		@include transition(0.2s);
	}

	h1 {
		padding: emCalc(13) 0;
		background-color: #33659f;
		margin: 0;
		font-weight: normal;
		font-size: emCalc(15);
		line-height: emCalc(16);
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		box-sizing: border-box;

		@include breakpoint($desktop) {
			margin-bottom: emCalc(20);
			background-color: white;
			@include box-shadow(#555 0 0 7px);
		}

		a {
			color: white;
			padding: 0 emCalc(5);

			&:hover {
				text-decoration: none;
				color: $wwu-light-blue;
			}

			@include breakpoint($desktop) {
				color: $wwu-blue;
			}
		}
	}

	.western-contact-info {
		padding-top: emCalc(10);

		p {
			margin-bottom: 1.25em;
			line-height: 18px;
			font-size: emCalc(12);
			padding-left: 3.2em;

			&:before {
				color: $wwu-yellow;
				display: block;
				position: relative;
				height: 0px;
				top: 0;
				left: -20px;
				font-size:110%
			}
		}

		@include breakpoint($desktop) {
			padding-top: 0px;
		}
	}

	.western-address:before {
		@include icon(home);
	}
	.western-telephone:before {
		@include icon(phone);
	}
	.western-contact:before {
		@include icon(mail);
	}

	//Hide for now
	.western-social-media {
		$social-icon-size: 24px;
		padding-left: emCalc(17);
		min-height: 55px;
		font-family: fontello;

		li {
			display: inline-block;
			font-size: $social-icon-size;
			height: $social-icon-size;
		}
		a {
			position: relative;
			display: block;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			width: $social-icon-size;
			height: $social-icon-size;
			top: -$social-icon-size;

			&:focus {
				border-bottom: 3px solid $wwu-lime;
			}
		}

		//Generate styles for each icon in social icons
		//Based on key name in _mixins.scss
		@each $key, $value in $social-icons {
			.western-#{$key}-icon:before {
				content: $value;
			}
		}
	}
}

#global-footer-content {
    background-color: $wwu-blue;
    color: white;
    line-height: 20px;
    text-align: center;

    @include breakpoint($medium) {
    	font-size: 12px;
    	padding: 0 5%;

    	#global-footer-content-inner {
    		border-top: 1px solid rgba(#fff, 0.8);
    	}
    }
}
