/*** General Styling ***/
$background: #e3e3e3;

body {
	font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
	background: $background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}
a, a:visited, a:active {
	color: #0070b6;
	text-decoration: none;
	outline: 0 !important;
}

a:visited, a:focus {
	text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}
/*** General Layout ***/
#container {
	width: 100%;
	min-width: 300px;
	background: $background;
  top: 120px;
  transition: 0.2s;

  @include breakpoint($medium) {
    top: 40px;
  }
}
#container, header, nav, footer {
	margin: 0 auto;
	position: relative;
}
#sm-directory {
	position: relative;
}
.set-width {
  max-width: 1200px;
  margin: 0 auto;
}
img.emoji {
  height: 1.2em;
  width: 1.2em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}
