/*** Header ***/
header {
	box-sizing: border-box;
	padding: 10px;
	position: relative;
	margin-bottom: 5px;
}
header nav {
	position: absolute;
	bottom: 10px;
	left: 300px;
}
header nav ul li a, header nav ul li a:visited {
	line-height: 2.5em;
}
header nav ul li a.active {
	border-bottom: 2px solid #0083d6;
}
header nav ul li a:hover {
	border-bottom: 2px solid #FFF;
}
header .logo {
	float: left;
	margin-left: 1.5em;
}
.site-name {
  font-size: 20px;
  text-transform: uppercase;
  color: #0083d6;
  float: left;
  padding: 0;
  margin-left: 10px;
  line-height: 60px;

  @include breakpoint($medium) {
    margin-left: 0;
    margin-right: 10px;
    float: right;
  }
}
.site-name::after {
	content: url("../img/logo/social-logo.svg");
	display: inline-block;
	padding: 10px;
	vertical-align: sub;
	width: 35px;
}
.center-content {
  position: relative;
  height: 60px;
  margin: 0 auto;
  max-width: 1200px;
}
.western-header {
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 6px solid $wwu-light-blue;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  box-sizing: content-box;

  nav {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
    left: auto;
    margin-top:0;
  }
}
.western-quick-links {
  @include breakpoint($desktop) {
    display: inline-block;
    float: left;
    position: static;
    margin-right: 15px;
    font-size: 13px;
    color: $wwu-blue;

    li {
      display: inline-block;
    }
    li:not(:first-child):before {
      content: "\00B7 \0020 ";
    }
    ul li a {
      text-decoration: none;
      padding-left: 6px;
      color: $wwu-blue;
      &:hover {
        color:$wwu-ocean-blue;
        text-decoration: underline;
      }
      &:focus {
        outline: thin dotted!important;
        color: $wwu-ocean-blue;
      }
    }
  }
  @include breakpoint($medium) {
    display: none;
  }
}

.sm-nav-link {
  position: absolute;
  right: 0;
  top: 80px;
  @include breakpoint($medium) {
    display: none;
  }
}
.mobile-logo {
  @include breakpoint($medium) {
    background-image: url("../img/logo-horizontal-blue.svg");
    background-repeat: no-repeat;
    width: 185px;
    height: 50px;
    position: absolute;
    top: 0;
    margin-top: 12px;
  }
}
.western-logo {
  @include breakpoint($desktop) {
    color: $wwu-blue;
    background-color:$wwu-blue;
    background-repeat:no-repeat;
    font: 0/0 a;
    a { @include hide-text; }
    @include western-logo;
  }
  @include breakpoint($medium) {
    display: none;
  }
}
