$searchHeight: 44px;
$borderHeight: 1px; 
$searchBorder: #E4E4E4;

.western-search {
  display: inline-block;
  float:left;
  position: static;

  button {
    display: block;
    border: none;
    height: 44px;
    width: 44px;
    cursor: pointer;
    background-color: #0083d6;
    font-size: 0;
    color: white;

    &:before {
      @include icon(search);
      font-size: 25px;
    }

    &.is-open:before {
      @include icon(close);
      font-size: 32px;
    }
    @include breakpoint($medium) {
      display: none;
    }
  }
  @include breakpoint($medium) {
    display: none;
  }
}

.western-search-widget {
  @include breakpoint($medium) {
    display: none;
  }
	position:absolute;
	right: $searchHeight;
	margin-top: 0;
	top: 50px;
	right: 0;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.7);
	padding:0;
	z-index: 10;
	width: emCalc(295);
	font-family:$muli;
	width: 0;
	min-height: $searchHeight;

	.western-search-terms {
		padding: 9px;
		border: 1px solid $searchBorder;
		border-bottom: none;

		&:before {
			display: none;
		}
	}
	.western-search-terms label {
		@include hide-text;
	}
	input[type="submit"] {
		background-color:$wwu-light-blue;
		color:#fff;
		margin:0;
		padding:0 1em;
		border:none;
		position:absolute;
		top:0;
		right:0;
		height:100%;
		font-size: emCalc(14);
		cursor:pointer;
	}
	#searchfield {
		width: 100%;
		font-size:emCalc(14);
		font-family:$muli;
		border: none;
		padding:.25em .25em .1em 0;
		background-color: transparent;
		margin-left: 0;
		line-height: normal;
		color: black;
		position: initial;
	}
}

