$offset: 4%;
$social-icon-size: 26px;

$card-margin-x: 0.9%;
$card-margin-y: 15px;

@mixin set-cols($numCols) {
	width: (100% / $numCols) - ($card-margin-x * 2);
}

.grid {
  @include transition(none);
  overflow: hidden;
  &:before {
    content: "";
    display: table;
  }
}
.grid-item {
  @include breakpoint($x-large) {
    @include set-cols(5);
  }
  @include breakpoint($large) {
    @include set-cols(4);
  }
  @include breakpoint($medium-only) {
    @include set-cols(3);
  }
  @include breakpoint($small-medium) {
    @include set-cols(2);
  }
  @include breakpoint($small) {
    @include set-cols(1);
  }
}
.grid-item {
  @include box-shadow-helper(1);
  @include transition-property(transform, opacity);
  @include transition-duration(0.8s);
	box-sizing:border-box;
	margin: $card-margin-y $card-margin-x;
	background: #FFF;
	overflow: hidden;
	float: left;

  .sm-image {
    max-width: 100%;
  }
  .content {
    margin: $offset;
  }
  .content, p {
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  .entry-footer {
    padding: 2px $offset;
  }
  .post-meta {
    display: inline-block;
    font-family: $lato;
    color: white;
    font-size: 12.5px;
    line-height: 15px;
  }
  .username {
    font-weight: bold;
    font-size: 13px;
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
  .post-date {
    margin-top: 1px;
  }

  .screen-reader-text {
      clip: rect(1px 1px 1px 1px);
      clip: rect (1px, 1px, 1px, 1px); //for backwards compatibility
      position: absolute;
      overflow: hidden;
      height: 1px;
      width: 1px;
  } 

  .sm-icon {
    margin-top: 5px;
    float: right;
    font-family: fontello;
    color: white;
    font-size: $social-icon-size;
    display: inline-block;
  }
}

.page-indicator {
  overflow: hidden;
  float: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  background-color: transparent;
  box-shadow: none;

  .line {
    border-top: 2px solid #ccc;
    width: 100%;
    display: block;
    position: absolute;
    float: left;
    z-index: 0;
    top: 15px;
  }
  .page-number {
    font-family: lato;
    font-weight: 500;
    font-size: 14px; 
    z-index: 2;
    background-color: #c3c3c3;
    color: #555;
    display: block;
    padding: 3px;
    position: relative;
    width: 23px;
    margin: 0 auto;
    -webkit-font-smoothing: initial;
  }
}
.grid-item:hover {
  @include box-shadow-helper(2);
}

//Dynamically generate styles for card footers based on social media colors
@each $social-name, $color in $social-colors {
  .#{$social-name}-card .entry-footer {
    background-color: #{$color};
    min-width: 225px;
  }
}

//Also generate styles for social icons
@each $key, $value in $social-icons {
  .#{$key}-card .sm-icon:before {
    content: $value;
  }  
}

.youtube-card {
  img {
    width: 100%;
  }
}

img {
	max-width: 100%;
}
