.entity_listing {
  min-width: 275px;

  li {
    list-style-type: none;
    margin-bottom: 10px;
    line-height: 20px;

    .fa {
      position: absolute;
      left: 28px;
      margin-top: 5px;
      font-size: 15px;
      color: #555;
    }
  }
  .account-action-nav {
    text-align: center;
  }
  a.edit-link {
    &:hover {
      text-decoration: underline;
    }
  }
  .btn {
    padding: 5px 7px;
  }
}

.entity_category {
  font-style: italic;
  margin-top: 5px;
}

