$x-large: min-width 1440px;
$table-break: min-width 809px;
$large: 800px 1439px;
$desktop: min-width 800px;
$medium: max-width 799px;
$medium-only: 479px 799px;
$small-medium: 479px 729px;
$small: max-width 479px;
$not-small: min-width 479px;
