@mixin icon($name) {
  font-family: fontello;
  content: map-get($icons, $name);
}

@mixin social-icon($name) {
  font-family: fontello;
  content: map-get($social-icons, $name);
}

@function emCalc($target, $context: 16) {
  @if $convertToEm {
    @return ($target / $context) * 1em;
  }
  @else {
    @return $target * 1px;
  } 
}

/**
 * Mixin function that implements Google's material design spec for using drop shadow to simulate depth.
 * A SASS implementation of Florian Kutschera's LESS mixin.
 * 
 * Source: https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d#.p2rtj2fiu
 * Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
 */
@mixin box-shadow-helper($level: 1) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}


@mixin western-logo {
  height:125px;
  width:220px;
  background-color:$wwu-blue;
  background-image:url('//www.wwu.edu/wwucommon/lite/images/western-logo.png');
  background-repeat:no-repeat;
  background-position:50% 25%;
  float:left;
  position:relative;
  top: -5px;
  z-index:999;
  @include box-shadow(#111 0 0 4px);

  &:focus {
    border-bottom: 3px solid $wwu-light-blue;
  }
}

@mixin hide-element {
        display:none;
}
