@import url(https://fonts.googleapis.com/css?family=Ovo);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,300italic,400italic);

$ovo: 'Ovo', serif; 
$lato: 'Lato', sans-serif;

@font-face {
  font-family: 'fontello';
  src: url('../src/fonts/fontello.eot?63060178') format("embedded-opentype");
  src: url('../src/fonts/fontello.woff?63060178') format('woff'),
       url('../src/fonts/fontello.ttf?63060178') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icons: (
  phone: '\21',
  mail: '\25',
  location: '\30',
  home: '\e800',
  star: '\e801',
  close: '\e802',
  comment: '\e803',
  clock: '\e805',
  graduation-cap: '\e806',
  user: '\e808',
  search: '\e809',
  tag: '\e80a',
  arrow-right: '\e80b',
  menu: '\e80c',
  triangle: '\e80d',
  folder: '\e80e',
  ok-circle: '\e80f',
  location-circle: '\e810',
  mail-circle: '\e811',
  right-circle: '\e812'
);

$social-icons: (
  facebook: '\0101',
  flickr: '\0102',
  googleplus: '\0103',
  instagram: '\0104',
  tumblr: '\0105',
  twitter: '\0106',
  rss: '\0107',
  youtube: '\0108'
);

$social-colors: (
  facebook: #3b5998,
  flickr: #0063db,
  googleplus: #dd4b39,
  instagram: #517fa4,
  tumblr: #35465d,
  twitter: #147AC8,
  rss: #ff6600,
  youtube: #cd201f,
)
